<div class="row project-hot">
    <div class="col-md-12 title-list-news-items">
        <p class="text-center text-uppercase p-title-list-news-items">
            {{ category.getName() }}
        </p>
        <p>Với nỗ lực lao động, học hỏi không ngừng nghỉ, chúng tôi đã mang đến những sản phẩm độc đáo, đột phá với những yếu cầu từ quý khách hàng đã tin tưởng đến chúng tôi.</p>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="list-news-items">
        <div class="bxslider">
            {% for row in posts %}
                {{ include('news/components/itemsGridSlide.html.twig', {blockOnHomepage : null, category: category}) }}
            {% endfor %}
        </div>
    </div>
</div>