.header {
    padding: 0;
    background-color: #004a80;
    color: $black;
    height: 35px;

    .col-12 {
        &.marquee {
            height: 35px;
            padding-left: 12px;
            position: relative;

            .skew-divider {
                content: "";
                background-color: #276fa5;
                background-image: linear-gradient(141deg, #276fa5 0%, #276fa5 50%, #276fa5 75%);
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 10000px;
                -webkit-transform: skew(-35deg);
                -khtml-transform: skew(-35deg);
                -moz-transform: skew(-35deg);
                -ms-transform: skew(-35deg);
                -o-transform: skew(-35deg);
                transform: skew(-35deg);
            }

            marquee {
                font-size: 14px;
                text-transform: uppercase;
                font-family: $robotoCondesed;
                line-height: 35px;
                font-weight: 600;
                color: $white;
                text-shadow: 0.2px 0.2px 0.2px $white;
    
                span {
                    margin-right: 0;
                    display: contents;
                    font-size: 14px;
                    color: $supernova;
                    text-shadow: 0.2px 0.2px 0.2px $supernova;
                }
            }
        }

        &.text-left {
            span {
                i {
                    color: $white;
                }

                a {
                    color: $white;
                    line-height: 35px;
        
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        span {
            line-height: 35px;
            font-size: 14px;
            margin-right: 10px;
            display: inline-block;
            float: left;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }
        }
    }
}

.banner {
    height: 120px;
    font-family: $robotoCondesed;

    #logo_top {
        padding: 0;

        #logo {
            float: left;
            padding: 0;

            a {
                img {
                    padding: 10px 0;
                    width: 66%;
                }
            }
        }
    }

    .info-top {
        margin-top: 20px;
        overflow: hidden;

        .wp10 {
            width: 9%;
            float: left;

            .fa,
            .fas {
                font-size: 40px;
                color: #3c3950;
                padding-right: 10px;
                border-right: 2px solid $primaryColor2;
            }
        }

        .wp90 {
            width: 90%;
            float: left;

            .info-nd {
                padding-left: 10px;

                p {
                    margin-bottom: 0;
                    color: #3c3950;
                    font-family: $robotoCondesed;
                    font-size: 16px;
                    font-weight: bold;
                }

                .tel {
                    font-weight: bold;
                    font-family: $robotoCondesed;
                    font-size: 23px;
                    line-height: 27px;
                    color: #3c3950;
                    margin-bottom: 3px;
                }
            }
        }
    }
}