.contacts {
    .company {
        margin-bottom: 30px;

        ul {
            padding-left: 0;

            li {
                list-style-type: none;

                i {
                    color: $primaryColor;
                }
            }
        }
    }

    .maps {
        margin-bottom: 20px;
    }

    #form {
        .form-group {
            .form-control, input {
                border-width: 1px;
                height: 40px;
                padding: 5px 15px;
                width: 350px;

                @media only screen and (max-width: 767.98px) {
                    width: 100%;
                }
            }

            textarea.form-control {
                height: 100px;
                width: 500px;

                @media only screen and (max-width: 767.98px) {
                    width: 100%;
                }
            }

            button.btn {
                background: $primaryColor;
                border-width: 0px;
                width: 90px;
            }
        }
    }
}